@model ShopTARgv23.Models.Cars.CarDeleteViewModel

<h1>Delete Car</h1>

<div>
    <h4>Car Details</h4>
    <hr />
    <dl class="row">
        <dt>Id</dt>
        <dd>@Model.Id</dd>

        <dt>Name</dt>
        <dd>@Model.Name</dd>

        <dt>Type</dt>
        <dd>@Model.Type</dd>

        <dt>Built Date</dt>
        <dd>@Model.BuiltDate</dd>

        <dt>Cargo Weight</dt>
        <dd>@Model.CargoWeight</dd>

        <dt>Crew</dt>
        <dd>@Model.Crew</dd>

        <dt>Engine Power</dt>
        <dd>@Model.EnginePower</dd>

        @foreach (var images in Model.FileToApiViewModels)
        {
            <partial name="_Images" model="images" />
        }
    </dl>
    <form asp-action="DeleteConfirmation">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" asp-controller="cars" class="btn btn-success">Back</a>
    </form>
</div>
